.homepage {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  .homepage-titulo {
    font-size: 12px; // Tamaño del texto del título
    color: #333; // Color del texto
    margin-bottom: 5px; // Espacio entre el título y los artículos
    width: 100vw;
    text-align: center; // Cambiado a center
    border: black; // Este borde no tiene efecto visual, considera eliminarlo
  }

  .mascota {
    width: 100vw; // Ajusta el tamaño según lo necesites
    height: auto; // Mantiene la proporción de la imagen
    display: block; // Asegúrate de que la imagen se comporte como un bloque
    margin: 0 auto; // Centra la imagen
    border: none; // Asegúrate de que no haya borde
    background: transparent; // Fondo transparente
  }
  
  .apoyo-boton {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border: none; // Asegúrate de que el borde sea 'none'
    border-radius: 8px; // Agregar bordes redondeados
    cursor: pointer; // Cambiar el cursor al pasar sobre el botón
    transition: background-color 0.3s ease, transform 0.2s ease; // Transiciones para el color y la transformación

    &:active {
        transform: scale(0.95); // Agregar un valor de escala
        background-color: #e0e0e0; // Color más oscuro al presionar
    }

    .Recursos-Apoyo {
        font-size: 15px; // Tamaño del texto del título
        color: #333333; // Color sólido para el texto
        width: 90vw;
        text-align: center; // Asegúrate de que el texto esté centrado
    }
  }
}

.estadistica-item {
  width: 40vw;
  height: 60px;
  padding: 16px;
  background-color: #f6f6f6;
  border-color: black;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  
  .icono-contenedor {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
  }

  .icono {
    width: 90px;
  }

  h3 {
    font-size: 14px;
    color: #333;
    margin: 8px 0;
    text-align: left;
    margin-left: 0;
  }
}
