///////////////////////////////////////// Estilos para la página de Estres /////////////////////////////////////////
.estres {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  // Estilo para el título
  .titulo {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;
    text-align: center;
  }

  // Estilo para la imagen del gráfico
  .grafico {
    width: 95%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  // Estilo para la burbuja de diálogo
  .burbuja-texto {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    background-color: #FFD5C8; // Fondo de la burbuja
    padding: 12px 20px;
    border-radius: 20px;
    max-width: 70%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;

    // Triángulo para la "cola" de la burbuja
    &::after {
      content: "";
      position: absolute;
      bottom: -20px; // Posición de la "cola"
      left: 65%; // Ajuste horizontal de la "cola"
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: #FFD5C8; // Color de la "cola"
      transform: rotate(0deg);
    }
  }


  // Estilo para la imagen de la mascota
  .mascota {
    width: 90%;
    height: auto;
    margin-top: -20px;
  }
}


///////////////////////////////////////// Estilos para la página de Sueño /////////////////////////////////////////
.sueño {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  // Estilo para el título
  .titulo {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;
    text-align: center;
  }

  // Estilo para la imagen del gráfico
  .grafico {
    width: 95%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  // Estilo para la burbuja de diálogo
  .burbuja-texto {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    background-color: #B2E0F4; // Fondo de la burbuja
    padding: 12px 20px;
    border-radius: 20px;
    max-width: 70%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;

    // Triángulo para la "cola" de la burbuja
    &::after {
      content: "";
      position: absolute;
      bottom: -20px; // Posición de la "cola"
      left: 65%; // Ajuste horizontal de la "cola"
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: #B2E0F4; // Color de la "cola"
      transform: rotate(0deg);
    }
  }

  // Estilo para la burbuja de diálogo
  .burbuja-texto-sueño {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    background-color: #B2E0F4; // Fondo de la burbuja
    padding: 12px 20px;
    border-radius: 20px;
    max-width: 70%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;

    // Triángulo para la "cola" de la burbuja
    &::after {
      content: "";
      position: absolute;
      bottom: -20px; // Posición de la "cola"
      left: 65%; // Ajuste horizontal de la "cola"
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: #B2E0F4; // Color de la "cola"
      transform: rotate(0deg);
    }
  }

  // Estilo para la imagen de la mascota
  .mascota {
    width: 90%;
    height: auto;
    margin-top: -20px;
  }
}

///////////////////////////////////////// Estilos para la página de Animo /////////////////////////////////////////
.animo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  // Estilo para el título
  .titulo {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;
    text-align: center;
  }

  // Estilo para la imagen del gráfico
  .grafico {
    width: 95%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  // Estilo para la burbuja de diálogo
  .burbuja-texto {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    background-color: #F9E79F; // Fondo de la burbuja
    padding: 12px 20px;
    border-radius: 20px;
    max-width: 70%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;

    // Triángulo para la "cola" de la burbuja
    &::after {
      content: "";
      position: absolute;
      bottom: -20px; // Posición de la "cola"
      left: 65%; // Ajuste horizontal de la "cola"
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: #F9E79F; // Color de la "cola"
      transform: rotate(0deg);
    }
  }

  // Estilo para la burbuja de diálogo
  .burbuja-texto-sueño {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    background-color: #F9E79F; // Fondo de la burbuja
    padding: 12px 20px;
    border-radius: 20px;
    max-width: 70%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;

    // Triángulo para la "cola" de la burbuja
    &::after {
      content: "";
      position: absolute;
      bottom: -20px; // Posición de la "cola"
      left: 65%; // Ajuste horizontal de la "cola"
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: #B2E0F4; // Color de la "cola"
      transform: rotate(0deg);
    }
  }

  // Estilo para la imagen de la mascota
  .mascota {
    width: 90%;
    height: auto;
    margin-top: -20px;
  }
}

///////////////////////////////////////// Estilos para la página de ejercicio /////////////////////////////////////////
.ejercicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  // Estilo para el título
  .titulo {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;
    text-align: center;
  }

  // Estilo para la imagen del gráfico
  .grafico {
    width: 95%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  // Estilo para la burbuja de diálogo
  .burbuja-texto {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    background-color: #A9DFBF; // Fondo de la burbuja
    padding: 12px 20px;
    border-radius: 20px;
    max-width: 70%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;

    // Triángulo para la "cola" de la burbuja
    &::after {
      content: "";
      position: absolute;
      bottom: -20px; // Posición de la "cola"
      left: 65%; // Ajuste horizontal de la "cola"
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: #A9DFBF; // Color de la "cola"
      transform: rotate(0deg);
    }
  }

  // Estilo para la burbuja de diálogo
  .burbuja-texto-sueño {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    background-color: #A9DFBF; // Fondo de la burbuja
    padding: 12px 20px;
    border-radius: 20px;
    max-width: 70%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;

    // Triángulo para la "cola" de la burbuja
    &::after {
      content: "";
      position: absolute;
      bottom: -20px; // Posición de la "cola"
      left: 65%; // Ajuste horizontal de la "cola"
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: #B2E0F4; // Color de la "cola"
      transform: rotate(0deg);
    }
  }

  // Estilo para la imagen de la mascota
  .mascota {
    width: 90%;
    height: auto;
    margin-top: -20px;
  }
}