@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './layout/index.scss';
@import './nav-bar/index.scss';
@import './form/index.scss';
@import './tienda/index.scss';
@import './homepage/index.scss';
@import './estadisticas/index.scss';
@import './recursos/index.scss';
@import './confirmarform/index.scss';

html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}
