.nav-bar__link {
  display: inline-block;
  margin-right: 15px;
  padding: 8px;
  color: black;
  text-decoration: none;

  &--active {
    // background: #222;
    color: white;
  }
}

.nav-bar__right-links {
  display: flex; // Flex container for right-side links
  align-items: center; // Align icons vertically
}
